/* GENERAL */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial,san-serif;
  font: size 15px;
}
.wrapper{
  width:940px;
  margin: 0 auto;
 
}
ul{
  list-style:none;

}

h1{
  font-family: 'Crete Round', serif;
  font-size:45px;
  color:#444;
  
}

.orange{
  color: #ff7f50;
}

/* header */ 

header
{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height : 120px;
  transition: all .3s ease-in-out;
  border-radius:5px;

  margin:20px
}
header h1 
{
  float:left;
  margin-top:32px;

}
header nav 
{
  float:right;
  margin-top: 50px;
  margin-right: 20px;
}
header nav ul li
{

  display: inline-block;
} 
header nav ul li a 
{
  
  text-decoration:none;
  color:#444;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  border-radius:5px;
  transition: all .3s ease-in-out;

}
header nav ul li a:hover
{
  background:#ff7f50;
  color:#fff;
}
header nav ul li a.active
{
  background:#ff7f50;
  color:#fff;
}


